.wrapper {
    margin: 32px auto;
    max-width: 700px;
}

textarea {
    vertical-align: top;
    resize: none;
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 18px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

label {
    display: block;
}

textarea {
    margin-bottom: 10px;
}

.delbtn {
    float: right;
}



/* Test */
body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li {
    cursor: pointer;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee;
}

ol {
    list-style-type: none;
    counter-reset: item;
}

ol>li {
    counter-increment: item;
    margin-bottom: 0.6em;
}

ol>li:before {
    content: counters(item, ".") ". ";
    padding-right: 0.6em;
}

li ol>li {
    margin: 0;
}

li ol>li:before {
    content: counters(item, ".") " ";
}

#form {
    padding-inline-start: 0;
}

.header {
    
    overflow: hidden;
}

.left_btns {
    float: left;
}

.right_btns {
    float: right;
}